footer{
    /* margin-right: 5rem; */
    background-color: var(--color-primary-sidebar);
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
  }
  footer .footer-text{
    color: var(--color-grey-2);
  }
  footer .footer-text span{
    color: var(--color-secondary);
    font-weight: 500;
  }

  @media screen and (max-width: 480px) {
    footer{
      /* margin-right: 0; */
      font-size: 12px;
      text-align: center;
      font-weight: 400;
    }

  }