/* TITLE - start */
.section-title {
    margin-right: 4rem !important;
  height: 7rem;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  text-transform: uppercase;
}
.line {
  display: block;
  border-bottom: 5px solid #27ae60;
  width: 6rem;
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
}
.title-heading span {
  color: #27ae60;
}

.title-heading {
  position: relative; /* Add relative positioning to the container */
  font-size: 2rem;
  font-weight: bolder;
  z-index: 1;
  /* top: 5.5rem; */
}

.bg-text {
  position: absolute; /* Position the h3 absolutely */
  top: -50px; /* Adjust the top position as needed */
  left: 0; /* Adjust the left position as needed */
  z-index: -1; /* Send the h3 behind the h2 */
  color: #2a2e35;
  font-size: 70px;
  /* font-size: calc(1.6rem + 5.4vw); */
  font-weight: 600;
  /* opacity: 0.05; */
}

.hola {
  position: absolute;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 768px){
    
}

@media screen and (max-width: 768px) {
    .section-title {
        margin-right: 4rem !important;
        margin-bottom: 20px;
    }
    .line {
      border-bottom: 3px solid #27ae60;
      width: 5rem;
    }
    .title-heading {
        font-size: 1.5rem;
    }

    .bg-text{
        top: 0;
        top: -43px;
        font-size: 2.5rem;
    }
}